$breakpoint-m: 42em;
$breakpoint-l: 60em;

$spacing-2xs: 0.25em;
$spacing-xs: 0.5em;
$spacing-s: 0.75em;
$spacing-m: 1em;
$spacing-l: 1.25em;
$spacing-xl: 1.5em;
$spacing-2xl: 2em;
$spacing-3xl: 2.5em;
$spacing-4xl: 3em;
